<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 xl:grid-cols-4">
  <div>
    <img
      src="./images/grid-image/image-01.png"
      alt="image 1"
      class="w-full rounded-xl border border-gray-200 dark:border-gray-800"
    />
  </div>
  <div>
    <img
      src="./images/grid-image/image-02.png"
      alt="image 2"
      class="w-full rounded-xl border border-gray-200 dark:border-gray-800"
    />
  </div>
  <div>
    <img
      src="./images/grid-image/image-03.png"
      alt="image 3"
      class="w-full rounded-xl border border-gray-200 dark:border-gray-800"
    />
  </div>
  <div>
    <img
      src="./images/grid-image/image-04.png"
      alt="image 4"
      class="w-full rounded-xl border border-gray-200 dark:border-gray-800"
    />
  </div>
</div>
